/* src/Auth.css */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-form {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 1rem;
  color: #000;
}

.auth-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit-btn {
  width: 90%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.auth-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: black;
}

.auth-link a {
  color: #007bff;
  text-decoration: none;
}

.separator {
  margin: 1.5rem 0;
  font-size: 0.8rem;
  color: #888;
}

.google-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  background: #f5f5f5;
}

.google-logo{
  width: 18px;
  height: 18px;
  object-fit: cover;
  cursor: pointer;
}