*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#121212;
  color:white;
  font-family:system-ui,-apple-system,BlinkMacSystemFont,sans-serif;
}

/* MAIN LAYOUT */

.chat-content{
  display:flex;
  height:100vh;
}

/* SIDEBAR */

.left-section{
  width:260px;
  background:#0f0f0f;
  border-right:1px solid #222;
  padding:20px;
  overflow-y:auto;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none; 
}

/* CHAT AREA */

.right-section{
  flex:1;
  display:flex;
  flex-direction:column;
  align-items: center;
  position:relative;
}

.right-section::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

/* CHAT OUTPUT */

.output{
  flex:1;
  overflow-y:auto;
  padding:0px 0px 60px;
  max-width:750px;
  width:100%;
  margin:auto;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;
}

.output::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

.output ul{
  list-style:none;
}

.output li{
  margin-bottom:18px;
}

/* QUESTION MESSAGE */

.question{
  background:#2b2b2b;
  padding:10px 12px;
  border-radius:16px;
  width:fit-content;
  margin-left:auto;
}

/* AI MESSAGE */

.answer{
  /* background:#2ee89c; */
  color:white;
  padding:5px;
  width:fit-content;
  max-width:100%;
}

/* INPUT AREA */

.input-button{
  position:fixed;
  bottom:25px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  max-width:750px;
  display:flex;
  background:#1e1e1e;
  border-radius:50px;
  border:1px solid #333;
  box-shadow:0 6px 18px rgba(0,0,0,0.4);
}

.input-button input{
  flex:1;
  height:52px;
  border:none;
  padding:0 18px;
  border-radius:50px 0 0 50px;
  background:transparent;
  color:white;
  outline:none;
  font-size:15px;
}

.input-button button{
  padding:0 28px;
  border:none;
  border-radius:0 50px 50px 0;
  background:#40ffaa;
  color:#111;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
}

.input-button button:hover{
  background:#2ee89c;
}

/* SCROLLBAR */

.output::-webkit-scrollbar{
  width:6px;
}

.output::-webkit-scrollbar-thumb{
  background:#333;
  border-radius:10px;
}

/* MOBILE */

@media(max-width:768px){

.left-section{
  display:none;
}

.chat-content{
  flex-direction:column;
}

.output{
  padding:20px 10px 120px;
}

}